@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.header {
    border-bottom: 1px solid #427D9D;
    background: rgba(22, 72, 99, 0.70);
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
    height: 70px;
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 100%;
}

a.nav__link1 {
    border-right: 1px solid #F1F0F0;
    border-radius: 50px;
    height: 40px;
    position: absolute;
    left: 11%;
    top: 15px;

}

.logo {
    font-size: 18px;
    color: white;
    width: 60px;
    height: 30px;
    margin-left: 60px;
    padding-top: 15px;
    text-decoration: none;
}

.line1 {
    position: absolute;
    left: 10%;
}

.header-inner {
    height: 65px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    color: white;
    width: 60px;
    height: 30px;
    margin-left: 40px;
    cursor: pointer;
    position: relative;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.navbar {
    width: 60px;
    height: 30px;
    margin-left: 30px;
    padding-top: 15px;
    position: relative;
    display: flex;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background-color: #F1F0F0;
}


.header-chart {
    display: flex;
    justify-content: space-between;
}



.nav__link2 {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-left: 5px;
}

.header-inner2 {
    height: 77.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar2 {
    display: flex;
    align-items: center;
}

.nav__link2 img {
    width: 45px;
    height: 45px;
    margin-right: 35px;
    margin-left: 30px;

}

.nav__link:hover #line-1,
.nav__link2:hover #line-2 {
  width: 100%;
}

#line-1, #line-2 {
  position: relative;
  display: inline-block;
}

#line-1::before,
#line-2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #F1F0F0;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.nav__link:hover #line-1::before,
.nav__link2:hover #line-2::before {
  width: 100%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar .top-menu {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
    width: 130px;
}

.navbar:hover .top-menu {
    display: block;
}

.navbar .dropdown-menu {
    position: relative;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
    width: 130px;
}

.navbar:hover .dropdown-menu {
    display: block;
    cursor: pointer;
}

.navbar .dropdown-menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.navbar .dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.navbar .dropdown-menu a:nth-child(1) {
    animation-delay: 0.1s; 
}

.navbar .dropdown-menu a:nth-child(2) {
    animation-delay: 0.2s; 
}

.navbar .dropdown-menu a:nth-child(3) {
    animation-delay: 0.3s; 
}

