.main__theme {
    margin-top: 70px;
    margin-bottom: 70px;
}

.courses-text {
    background-color: #DFE2ED;
    height: 120px;
    margin-bottom: 50px;
}




.theme__table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 20px;
}

.theme__table th,
.theme__table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.theme__table th {
    background-color: #f2f2f2;
}

.theme__table a {
    text-decoration: none;
    color: #007bff;
}

.theme__table a:hover {
    text-decoration: underline;
}

.course-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.course-sidebar {
    border: 1px solid rgba(172, 172, 172, 0.5);
    height: 100%;
    width: 20%;
    margin-left: 60px;
}

.course-sidebar-card {
    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
    padding: 15px;
    display: flex;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.course-sidebar-img img {
    margin-left: 20px;
    height: 20px;
    width: 25px;
    margin-right: 5px;
}

.course-sidebar-text {
    font-size: 20px;
}

#course-card3 {
    border-bottom: 0;
}

.course-sidebar-card:hover {
    background-color: #DFE2ED;
}

.course-sidebar-card:active,
.course-sidebar-card:focus {
    outline: none;
    /* Убираем рамку фокуса, если такая есть */
    color: #551A8B;
    /* Наследуем цвет текста */
    text-decoration: none;
    /* Убираем подчеркивание активных ссылок */
}