@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.main-bg {
    background-image: url('wallpaper1.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1000;
    position: relative;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

.main-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

.main-text {
    font-size: 45px;
    color: white;
    margin-top: 17%;
    font-weight: 900;
    margin-right: 40%;
}

.main-desc-text {
    font-size: 20px;
    color: white;
    margin-right: 52%;
    width: 600px;
    margin-left: 120px;
}

.btn {
    width: 200px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #0766AD;
    margin-right: 57%;
    margin-top: 20px;
    transition: .2s linear;
}

.btn:hover {
    background: #054b81;
}

.btn-text {
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    height: 80px;
    line-height: 60px; 
    margin-bottom: 30px;
}


.btn-a {
    text-decoration: none;
}

.vector {
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
    margin-top: 50%;
}


.achieves-bg {
    background-image: linear-gradient(rgba(25, 38, 117, 0.8), rgba(25, 38, 117, 0.8)), url('achieves.png');
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1000;
}

.achieves-menu {
    display: grid;
    grid-template-columns: 1fr;
}

.achieves-text {
    width: 40%;
    margin-left: 30%;
}

.achieves-main-text {
    font-size: 55px;
    color: white;
    margin-top: 150px;
    font-weight: 900;
    width: 1000px;
    margin-right: 100px;
}

.achieves-desc-text {
    width: 650px;
    font-size: 20px;
    color: white;
}

.achieves-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 90px; 
}

.achieves-card {
    width: 150px;
    height: 150px;
}

.achieves-card img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}

.cap-text {
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.swiper-menu {
    margin-top: 100px;
}

.swiper-text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}

.swiper-container {
    margin-bottom: 100px;
}

.containerr {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.group2 {
    margin-top: 200px;
    width: 600px;
}

.group2__text {
    font-weight: 900;
    font-size: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.group2 p {
    font-size: 17px;
}

.group {
    margin-top: 100px;
}

.group__images {
    width: 660px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.group__images img {
    width: 350px;
}

.group__images div {
    width: 350px;
    height: 350px;
    position: relative;
}

.group__1 p,
.group__2 p,
.group__3 p,
.group__4 p {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.group__3, .group__4 {
    margin-top: 20px;
}

.group__2 {
    margin-top: -30px;
}

.group__4 {
    margin-top: -20px;
}

.photo__1-2 {
    font-size: 28px;
    text-align: center;
    margin-top: 230px;
    margin-right: 10px;
}

.photo__3 {
    font-size: 28px;
    text-align: center;
    margin-top: 160px;
    margin-right: 10px;
}

.photo__4 {
    font-size: 28px;
    text-align: center;
    margin-top: 140px;
    margin-right: 10px;
}

.btn-gr {
    width: 200px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #369FDB;
    margin-right: 57%;
    margin-top: 80px;
    transition: .2s linear;
}

.btn-gr:hover {
    background: #0766AD;
}

.btn-a-group {
    text-decoration: none;
}

.grooo {
    margin-bottom: 100px;
}

