.rating-text {
    background-color: #DFE2ED;
    height: 150px;
    margin-bottom: 50px;
}

.rating-main {
    margin-top: 70px;
    margin-bottom: 70px;
}

.rating-table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 15px;
}

.rating-table th:last-child,
.rating-table td:last-child {
    width: 70px; /* Изменено значение на 70px */
    text-align: center; /* Добавлено выравнивание по центру */
}

.rating-table th,
.rating-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.rating-table td:nth-child(5) {
    width: 70px; 
    text-align: center;
}

.rating-table th {
    background-color: #ACB1C1;
    color: white;
}

.react-rating > svg {
    fill: gold; /* Или другой цвет, который вы предпочитаете */
}

.react-rating-symbol-empty {
    color: #ccc; /* Цвет для пустых символов */
}

.react-rating-symbol-full {
    color: gold; /* Цвет для заполненных символов */
}

.react-rating > span {
    color: gold;
}