.login-text {
    margin-left: 260px;
    font-size: 25px;
    margin-top: 50px
}

.login {
    margin-top: 180px;
    margin-left: 500px;
    height: 400px;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-top: 2px solid rgba(7, 14, 205, 0.982);
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 100px;
}

.avatar-login img {
    width: 25px;
    height: 25px;
    margin-right: 0;
    margin-left: 20px;
}

.input-menu-login {
    margin-top: 20px;
}


.input-login input {
    margin-top: 10px;
    width: 500px;
    margin-left: 20px;
    border: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.50);
    padding-bottom: 15px;
    outline: 0;
}

.input-card2 {
    margin-top: 20px;
}

.btn-login {
    background-color: #0f7fba;
    width: 80px;
    height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
}

.btn-login-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: inherit;
    margin-top: 2px;
}

.btns-remember-login {
    display: flex;
    margin-top: 30px;

}

.remember input {
    float: left;
    width: 30px;
    display: flex;
    margin-left: 17px;
}

.remember-text{
    margin-right: 275px;

}